# Local.
*.png
*.slurm
# **/*.txt
**/*.pdf
**/*.pkl
results

# Python.
**/__pycache__

# VSCode.
**/*.vscode
**/*.code-workspace

baseline/
reference/
models/
IntG/
hub/
output_nci/
errors